@-moz-viewpoint {width: divice-width; scale: 1;}
@-ms-viewpoint {width: divice-width; scale; 1;}
@-0-viewpoint {width: divice-width; scale; 1;}
@viewpoint {width: divice-width; scale; 1;}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.img-flex {
    display: block;
    width: 100%;
    margin: 0 auto;
}
 body {
 	margin: auto;
 }

/* color palate: (Purple) 552448 (beige)EAE3D4 000000 (gold)D4AF37 (silver)BCC6CC (dark purple)301436 19002c BCC6CC*/

.billboard-work {
	background-image: url(../img/1500-820-placeholder.jpg);
	background-position: center center;
  background-size: cover;
  overflow: hidden;
	height: 350px;
	color: #BCC6CC;

}

.billboard-work h1 {
	text-align: center;
	margin: 3em auto 0;
}


.links {
	text-decoration: none;
}

.case-studies {
	background-image: url(../img/1500-820-placeholder.jpg);
	background-position: center center;
  background-size: cover;
  overflow: hidden;
	height: 270px;
	color: #D4AF37;
}

.case-studies h2 {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 200;
	text-decoration: none;
	margin: 3.5em auto 0;
}
