@-moz-viewpoint {width: divice-width; scale: 1;}
@-ms-viewpoint {width: divice-width; scale; 1;}
@-0-viewpoint {width: divice-width; scale; 1;}
@viewpoint {width: divice-width; scale; 1;}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.img-flex {
    display: block;
    width: 100%;
    margin: 0 auto;
}
.box {
	height: 200px;
}
 body {
 	margin: auto;
 }

header {
	background-color: #D6D5D4;
	display: block;
	width: 100%;
}
 .nav {
 	text-decoration: none;
 	color: #D6D5D4;
 	text-decoration: none;
 	color: black;
 }

 .main-nav {
 	line-height: 60px;
 }

.home {
	background-color: #0d121a;
	background-image: url(../img/bg-image.jpg);
	background-position: center center;
  background-size: cover;
  background-repeat: none;
}

/* color palate: (Purple) 552448 (beige)EAE3D4 000000 (gold)D4AF37 (silver)BCC6CC (dark purple)301436 19002c BCC6CC*/

.billboard-work {
	background-image: url(../img/woman-work.jpg);
	background-position: center center;
  background-size: cover;
  overflow: hidden;
	height: 500px;
	color: #D6D5D4;
	background-repeat: none;
}

.billboard-work h1 {
	text-align: center;
	margin: 3em auto 0;
}

.case-studies {
	color: #D6D5D4;
	background-image: url(../img/test.jpg);
	height: 270px;
	background-position: center center;
	background-size: cover;
	background-repeat: none;
}

.case-studies h2 {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	text-decoration: none;
	margin: 3.5em auto 0;
	background-size:
}

.footer {
	color: white;
	margin-top: 5em;
}



@media only screen and (min-width: 60em) {

header {
	float: left;
	width: 150px;
	height: 100vh;
	position: fixed;
	box-shadow: 1px 2px 6px 0 rgba(134,0,0,.7);
}

.nav {
	display: block;

}

.main {
	float: right;
	width: calc(100% - 150px)
}

.billboard-work {
		background-position: 0 -160%;
  	height: 430px;
	}


}

@media only screen and (min-width: 90em) {
	.billboard-work {
		background-position: 0 -120%;
  	height: 570px;
	}

	.case-studies {
		height: 750px;
	}

}

@media only screen and (min-width: 120em) {
	.billboard-work {
		background-position: 0 -100%;
  	height: 650px;
  }

}
