@-moz-viewpoint {width: divice-width; scale: 1;}
@-ms-viewpoint {width: divice-width; scale; 1;}
@-0-viewpoint {width: divice-width; scale; 1;}
@viewpoint {width: divice-width; scale; 1;}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.img-flex {
    display: block;
    width: 100%;
    margin: 0 auto;
}
 body {
 	margin: auto;
 }

 header {
	background-color: #D6D5D4;
	display: block;
	width: 100%;
}

.home {
	background-color: #0d121a;
	background-image: url(../img/bg-image.jpg);
	background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.masthead {
	margin: 0 auto;
	width: 40%;

}

.masthead span {
	display: block;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	background-image: url(../img/test.png);
	padding-top: 31.1%;
	background-repeat: no-repeat;
	background-size: contain;
}

.billboard {
	color: #D6D5D4;
	height: 340px;
	margin: 17em auto 0;
}

.billboard h1 {
	text-align: center;
}

.option-case {
	height: 270px;
	color: #D6D5D4;
	border: solid 4px #D6D5D4;
	text-decoration: none;
	display: block;
}

.option-case h2 {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	text-decoration: none;
	margin: 3.5em auto 0;

}

.option-case:hover {
	background-image: url(../img/woman-work.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.option-about {
	height: 270px;
	color: #D6D5D4;
	border: solid 4px #D6D5D4;
	text-decoration: none;
	display: block;
}

.option-about h2 {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	text-decoration: none;
	margin: 3.5em auto 0;
}

.option-about:hover {
	background-color: #E75A38;
}

.option-connect {
	height: 270px;
	color: #D6D5D4;
	border: solid 4px #D6D5D4;
	text-decoration: none;
	display: block;
}

.option-connect h2 {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	text-decoration: none;
	margin: 3.5em auto 0;

}

.option-connect:hover {
	background-image: url(../img/connect.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.footer {
	color: white;
	margin-top: 5em;
}

.name {

}

/* ------------------------------------------ connect ----------------------------*/
.home-connect {
	background-color: #0d121a;
	background-image: url(../img/ottawa.jpg);
	background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}


.billboard-connect{
	background-image: url(../img/connect.jpg);
	background-position: 0 80%;
  background-size: cover;
  overflow: hidden;
	height: 265px;
	color: #D6D5D4;
	background-repeat: no-repeat;
}


.billboard-connect h1 {
	text-align: center;
	margin: 3em auto 0;
}

.second-header {
 text-align: center;
 font-family: 'Roboto', sans-serif;
 font-weight: 300;
}

.white {
	background-color: #fff;
	height: 100vh;
	box-shadow: 1px 2px 6px 1px rgba(0,0,0,.50)
}

.hello-title {
	font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #591D57;
  margin-bottom: 0;
}

.hello {
	font-family: 'Open Sans', sans-serif;
	color: #591D57;
	font-weight: 300;
}
.email {
	text-decoration: none;
	color: #e92071;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
}

.fade {
	margin:0;
}
.fade li a {
-webket-transition: all 0.5s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.fade li a:hover {
	opacity: 0.6;
}

 ul {
 	list-style-type: none;
 	padding: 0;
 }
/* ------------------------------------------ Media Queries ----------------------------*/


@media only screen and (min-width: 25em) {
	.billboard-connect {
		height: 330px;
		background-position: 0 19%;
	}
}

@media only screen and (min-width: 38em) {
		.billboard-connect {
		height: 470px;
		background-position: 0 19%;
	}

	.billboard-connect h1 {
	margin: 5em auto 0;
	}
}

@media only screen and (min-width: 60em) {
	.main-content {
		border-left: 1px solid #d7d7d7;
	}

	.billboard {
		height: 440px;
	}

	.billboard-connect {
		height: 550px;
		background-position: 0 22%;
	}

	.billboard-connect h1 {
	margin: 5em auto 0;
	}
}

@media only screen and (min-width: 90em) {
	.general-info p {
		top: -105px;
	}
	.billboard-connect {
		height:606px;
		background-position: 0 17%;
	}

}

@media only screen and (min-width: 120em) {
.general-info p {
		top: -310px;
	}

	.billboard-connect {
		height: 750px;
		background-position: 0 30%;
	}
	.billboard-connect h1 {
		margin: 5em auto 0;
	}
}

