@-moz-viewpoint {width: divice-width; scale: 1;}
@-ms-viewpoint {width: divice-width; scale; 1;}
@-0-viewpoint {width: divice-width; scale; 1;}
@viewpoint {width: divice-width; scale; 1;}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.img-flex {
    display: block;
    width: 100%;
    margin: 0 auto;
}


/* color palate: (Purple) 552448 (beige)EAE3D4 000000 (gold)D4AF37 (silver)BCC6CC (dark purple)301436 19002c BCC6CC*/
body {
	background-color: #19002c;
	background-image: url(../img/bg-image.jpg);
}

title {
	background-color: #D4AF37;
}
.billboard {
	color: #BCC6CC;
	height: 340px;
	margin: 16em auto 0;
}

.billboard h1 {
	text-align: center;
}

.links {
	text-decoration: none;
}

.case-studies {
	background-image: url(../img/1500-820-placeholder.jpg);
	background-position: center center;
  background-size: cover;
  overflow: hidden;
	height: 270px;
	color: #D4AF37;
}

.case-studies h2 {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 200;
	text-decoration: none;
	margin: 3.5em auto 0;
}

.about {
	background-image: url(../img/1500-820-placeholder.jpg);
	background-position: center center;
  background-size: cover;
  overflow: hidden;
	height: 270px;
	position: relative;
	color: #D4AF37;
}

.about h2 {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 200;
	text-decoration: none;
	margin: 3.5em auto 0;
}

.connect {
	background-image: url(../img/1500-820-placeholder.jpg);
	background-position: center center;
  background-size: cover;
  overflow: hidden;
	height: 270px;
	position: relative;
	color: #D4AF37;
}
.connect h2 {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 200;
	text-decoration: none;
	margin: 3.5em auto 0;
}

.footer {
	color: white;
	margin-top: 5em;
}
