@-moz-viewpoint {width: divice-width; scale: 1;}
@-ms-viewpoint {width: divice-width; scale; 1;}
@-0-viewpoint {width: divice-width; scale; 1;}
@viewpoint {width: divice-width; scale; 1;}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

