@-moz-viewpoint {width: divice-width; scale: 1;}
@-ms-viewpoint {width: divice-width; scale; 1;}
@-0-viewpoint {width: divice-width; scale; 1;}
@viewpoint {width: divice-width; scale; 1;}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.img-flex {
    display: block;
    width: 100%;
    margin: 0 auto;
}

.box {
	height: 200px;
}

 body {
 	margin: auto;
 }

.home {
	background-color: #0d121a;
	background-image: url(../img/bg-image.jpg);
	background-position: center center;
  background-size: cover;
  background-repeat: none;
}

.billboard-work {
	background-image: url(../img/woman-work.jpg);
	background-position: 0 80%;
  background-size: cover;
  overflow: hidden;
	height: 400px;
	color: #D6D5D4;
	background-repeat: no-repeat;
}

.billboard-work h1 {
	text-align: center;
	margin: 3em auto 0;
}

.case-studies-1 {
  color: #D6D5D4;
  background-image: url(../img/small-test.jpg);
  height: 270px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat
}

.case-studies-2 {
	color: #D6D5D4;
	background-image: url(../img/wide-test.jpg);
	height: 270px;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat
}

.case-studies-3 {
	color: #D6D5D4;
	background-image: url(../img/wide-test-2.jpg);
	height: 270px;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat
}

.case-studies-4 {
  color: #D6D5D4;
  background-image: url(../img/small-test-g.jpg);
  height: 270px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat
}

.case-studies-5 {
  color: #D6D5D4;
  background-image: url(../img/small-test-4.jpg);
  height: 270px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat
}

.case-studies-6 {
  color: #D6D5D4;
  background-image: url(../img/wide-test-p.jpg);
  height: 270px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat
}

.masthead {
		overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
}

.links {
	display: block;
	cursor: pointer;
}

.footer {
	color: white;
	margin-top: 5em;
}


/* ------------------------------------------ Media Queries ----------------------------*/

@media only screen and (min-width: 60em) {

	.case-studies {
	height: 280px;
	}

}

@media only screen and (min-width: 90em) {
	.case-studies {
		height: 330px;
	}

}

@media only screen and (min-width: 120em) {
	.case-studies {
		height: 558px;
	}
}
