@-moz-viewpoint {width: divice-width; scale: 1;}
@-ms-viewpoint {width: divice-width; scale; 1;}
@-0-viewpoint {width: divice-width; scale; 1;}
@viewpoint {width: divice-width; scale; 1;}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.img-flex {
    display: block;
    width: 100%;
    margin: 0 auto;
}

.box {
	height: 200px;
}

 body {
 	margin: auto;
 }

a {
	border: solid 4px red;
}
.home {
	background-color: #0d121a;
	background-image: url(../img/bg-image.jpg);
	background-position: center center;
  background-size: cover;
  background-repeat: none;
}

.billboard-work {
	background-image: url(../img/woman-work.jpg);
	background-position: 0 80%;
  background-size: cover;
  overflow: hidden;
	height: 400px;
	color: #D6D5D4;
	background-repeat: no-repeat;
}

.billboard-work h1 {
	text-align: center;
	margin: 3em auto 0;
}
.case-studies {
	color: #D6D5D4;
	background-image: url(../img/test.jpg);
	height: 270px;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

.links {
	display: block;
}
.case-studies h2 {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	text-decoration: none;
	margin: 3.5em auto 0;
	background-size:
}

.footer {
	color: white;
	margin-top: 5em;
}

/* ------------------------------------------ Media Queries ----------------------------*/

@media only screen and (min-width: 60em) {

	.case-studies {
	height: 280px;
	}

}

@media only screen and (min-width: 90em) {
	.case-studies {
		height: 330px;
	}

}

@media only screen and (min-width: 120em) {
	.case-studies {
		height: 700px;
	}
}
