.line {
	border-bottom: 1px solid #d7d7d7;
}

.general-info h2 {
	font-size: 2em;
	color: #eae8e8;
	text-transform: uppercase;
	letter-spacing: 7px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

.projectnav-colour {
	background-image: url(../img/bg-image.jpg);
	display: block;
	width: 100%;
	color: #fff;
	float: right;
	position: fixed;
	width: 150px;
	display: block;
}

.general-info p {
	font-size: 18px;
	color: #000;
	position: relative;
	top: -90px;
	font-family: 'Gentium Book Basic', serif;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	height: 54px;
}

li a {
	text-decoration: none;
	color: inherit;
}

.back {
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	color: #d7d7d7;
	letter-spacing: 4px;
	font-size: .75em;
}

.billboard-refresh {
	background-image: url(../img/refresh-billboard.jpg);
  background-size: cover;
  overflow: hidden;
	height: 130px;
	background-repeat: no-repeat;
	background-position: center center;
}

.billboard-bookbuddy {
	background-image: url(../img/project-2.jpg);
  background-size: cover;
  overflow: hidden;
	height: 130px;
	background-repeat: no-repeat;
	background-position: center center;
}

.discription{
	font-family: 'Open Sans', sans-serif;
	color: #d7d7d7;
	font-weight: 300;
	padding-top: 15px;
}

.project-title{
		font-family: 'Open Sans', sans-serif;
		font-weight: 800;
		color: #000;
		top: -100px
}

.solution {
		font-family: 'Open Sans', sans-serif;
		font-weight: 300;
		color: #591D57;
}

.project-intro {
	font-family: 'Gentium Book Basic', serif;
	xline-hedight: 2em;
}

.highlights {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	ccolor: #591D57;
	color: #000;
	margin: 5px;
	border-top: solid #d7d7d7 1px;
}

.shadow {
	xbox-shadow: 1px 1px 6px 0 rgba(0,0,0,.25)
}

.m-next-project {
	background-color: #202122;
	color: white;
	padding: 15px 0;
	margin: 20px 0;
}

.wrapper {
	width: auto;
	max-height: 1440px;
	float: none;
	display: block;
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
}
/* ------------------------------------------------------------
Media Queries
-------------------------------------------------------------*/

@media only screen and (min-width: 25em) {
		.billboard-refresh {
		height: 300px;
	}

	.billboard-bookbuddy {
		height: 300px;
	}
}

@media only screen and (min-width: 38em) {

}

@media only screen and (min-width: 60em) {
	.main-content {
		border-left: 1px solid #d7d7d7;
	}

	.general-info p {
		top: -95px;
	}

	li {
		height: 64px;
	}
		.billboard-refresh {
		height: 400px;
	}

	.billboard-bookbuddy {
		height: 400px;
	}
	.next-project {
		float: right;
		width: calc(100% - 150px);
	}
}

@media only screen and (min-width: 90em) {
	.general-info p {
		top: -105px;
	}
	.billboard-refresh {
		height: 520px;
	}

	.next-project {
		float: right;
		width: calc(100% - 150px);
	}
}

@media only screen and (min-width: 120em) {
.general-info p {
		top: -310px;
	}

		.billboard-refresh {
		height: 320px;
	}

	.billboard-bookbuddy {
		height: 320px;
	}

}
