.img-flex {
    display: block;
    width: 100%;
    margin: 0 auto;
}

.box {
	height: 200px;
}

 body {
 	margin: auto;
 }

.home {
	background-color: #0d121a;
	background-image: url(../img/bg-image.jpg);
	background-position: center center;
  background-size: cover;
  background-repeat: none;
}

.billboard-work {
	background-image: url(../img/woman-work.jpg);
	background-position: 0 80%;
  background-size: cover;
  overflow: hidden;
	height: 265px;
	color: #D6D5D4;
	background-repeat: no-repeat;
	background-color: #205678;
}

.billboard-work h1 {
	text-align: center;
	margin: 3em auto 0;
	font-size: 2em;
	opacity: .5;
	letter-spacing: 5px;
}

.case-studies-1 {
  color: #D6D5D4;
  background-color: #b7dd79;
  background-image: url(../img/gateway/gateway-gg.jpg);
  height: 270px;
  background-position: center center;
  background-size: 150vw auto;
  background-repeat: no-repeat;
  -webkit-transition: all 1000ms linear;
  transition: all 1000ms linear;
}

.case-studies-1:hover {
	background-size: 155vw auto;
}

.case-studies-6 {
	color: #D6D5D4;
	background-color: #8a1b61;
	background-image: url(../img/book/project-2.jpg);
	height: 270px;
	background-position: 52% center;
	background-repeat: no-repeat;
	background-size: 285vw auto;
	-webkit-transition: all 1000ms linear;
	transition: all 1000ms linear;
}

.case-studies-6:hover {
	background-size: 290vw auto;
}

.case-studies-3{
	color: #D6D5D4;
	background-image: url(../img/quote/quote-bb.jpg);
	background-color: #ffc700;
	height: 270px;
	background-position: 52% center;
	background-repeat: no-repeat;
	background-size: 285vw auto;
	-webkit-transition: all 1000ms linear;
	transition: all 1000ms linear;
}

.case-studies-3:hover {
	background-size: 290vw auto;
}

.case-studies-4 {
  color: #D6D5D4;
  background-color: #686e9f;
  background-image: url(../img/refresh/refresh-935-558.jpg);
  height: 270px;
  background-position: center center;
  background-size: 150vw auto;
  background-repeat: no-repeat;
  -webkit-transition: all 1000ms linear;
  transition: all 1000ms linear;
}

.case-studies-4:hover {
	background-size: 155vw auto;
}

.case-studies-5 {
	color: #D6D5D4;
	background-image: url(../img/netflix/netflix-bg.jpg);
	background-color: #dc322e;
	height: 270px;
	background-position: 25% center;
	background-repeat: no-repeat;
	background-size: 110vw auto;
	-webkit-transition: all 1000ms linear;
	transition: all 1000ms linear;
}

.case-studies-5:hover {
	background-size: 115vw auto;
}


.case-studies-2 {
  color: #D6D5D4;
  background-image: url(../img/worldhealth/worldhealth-bg.jpg);
  background-color: #00abbd;
  height: 270px;
  background-position: 40% 52%;
  background-size: 290vw auto;
  background-repeat: no-repeat;
  -webkit-transition: all 1000ms linear;
  transition: all 1000ms linear;
}

.case-studies-2:hover {
	background-size: 295vw auto;
}

.port-title {
	font-family: 'Open Sans', sans-serif;
}

.port-discription {
	font-family: 'Gentium Book Basic', serif;
}

.case-studies-7 {
	color: #D6D5D4;
	background-color: #772583;
	background-image: url(../img/magazine/magazine-billboard.jpg);
	height: 270px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 275vw auto;
	-webkit-transition: all 1000ms linear;
	transition: all 1000ms linear;
}

.case-studies-7:hover {
	background-size: 280vw auto;
}

.case-studies-8 {
  color: #D6D5D4;
  background-color: #00aca0;
  background-image: url(../img/soleil/makeup.jpg);
  height: 270px;
  background-position: center center;
  background-size: 150vw auto;
  background-repeat: no-repeat;
  -webkit-transition: all 1000ms linear;
  transition: all 1000ms linear;
}

.case-studies-8:hover {
	background-size: 155vw auto;
}

.case-study {
	position: relative;;
}

.case-study .masthead {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.5);
	text-align: center;
	padding: 1em;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	opacity: 0;
	-webkit-transition: all 250ms linear;
	transition: all 250ms linear;
}

.case-study:hover .masthead {
	opacity: 1;
}

.masthead hr {
	border: 0;
	border-top: 1px solid #fff;
	width: 0em;
	margin: 0;
	padding-top: 10px;
	-webkit-transition: all 500ms linear;
	transition: all 500ms linear;
}

.case-study:hover .masthead hr {
	width: 15rem;
}

.masthead h2, .masthead p {
	max-width: 20em;
	margin: .2rem 0;
}

.links {
	display: block;
	cursor: pointer;
	text-decoration: none;
}

.footer-port {
	background-color: #1d1e2a
}


/* ----------------------------------------------------------
Media Queries
-------------------------------------------------------------*/
@media only screen and (min-width: 25em) {

	.billboard-work {
		height: 300px
	}

.billboard-work h1 {
	margin: 2em auto 0;
	font-size: 3em
}

	.case-studies-1 {
		background-size: 115vw auto;
		background-position: 85% center;
	}

	.case-studies-1:hover {
		background-size: 120vw auto;
	}

	.case-studies-6 {
		background-position: 52% center;
		background-size: 225vw auto;
		background-position: 50% center;
	}

	.case-studies-6:hover {
		background-size: 230vw auto;
	}

	.case-studies-3 {
		background-position: 52% center;
		background-size: 225vw auto;
		background-position: 50% center;
	}

	.case-studies-3:hover {
		background-size: 230vw auto;
	}

		.case-studies-4 {
		background-size: 115vw auto;
		background-position: 85%;
	}

	.case-studies-4:hover {
		background-size: 120vw auto;
	}

	.case-studies-5 {
		background-size: 100vw auto;
		background-position: 100% 38%;
	}

	.case-studies-5:hover {
		background-size: 105vw auto;
	}

	.case-studies-2 {
		background-position: 40% center;
		background-size: 235vw auto;
	}

	.case-studies-2:hover {
		background-size: 240vw auto;
	}

	.case-studies-7 {
		background-position: 52% center;
		background-size: 205vw auto;
		background-position: 50% center;
	}

	.case-studies-7:hover {
		background-size: 210vw auto;
	}

		.case-studies-8 {
		background-size: 115vw auto;
		background-position: 85%;
	}

	.case-studies-8:hover {
		background-size: 120vw auto;
	}

	.case-studies-9 {
		background-position: 52% center;
		background-size: 205vw auto;
		background-position: 50% center;
}

	.case-studies-9:hover {
		background-size: 210vw auto;
	}

		.case-studies-10 {
		background-size: 115vw auto;
		background-position: 85%;
	}

	.case-studies-10:hover {
		background-size: 120vw auto;
	}
}

@media only screen and (min-width: 38em) {

	.billboard-work {
			height: 350px;
	}

	.billboard-work h1 {
		margin: 2.5em auto 0;
	}

	.case-studies-1 {
		background-size: 120vw auto;
		background-position: 85%;
	}

	.case-studies-1:hover {
		background-size: 125vw auto;
	}

	.case-studies-6 {
		background-position: 52% center;
		background-size: 190vw auto;
	}

	.case-studies-6:hover {
		background-size: 195vw auto;
	}

	.case-studies-3 {
		background-position: 52% center;
		background-size: 190vw auto;
	}

	.case-studies-3:hover {
		background-size: 195vw auto;
	}

	.case-studies-4 {
		background-size: 120vw auto;
		background-position: 85%;
	}

	.case-studies-4:hover {
		background-size: 125vw auto;
	}

	.case-studies-5 {
		background-size: 65vw auto;
		background-position: 100% 35%;
	}

	.case-studies-5:hover {
		background-size: 70vw auto;
	}

	.case-studies-2 {
		background-position: 40% center;
		background-size: 170vw auto;
	}

	.case-studies-2:hover {
		background-size: 175vw auto;
	}

	.case-studies-7 {
		background-position: 52% center;
		background-size: 190vw auto;
	}

	.case-studies-7:hover {
		background-size: 195vw auto;
	}

	.case-studies-8 {
		background-size: 120vw auto;
		background-position: 85%;

	}

	.case-studies-8:hover {
		background-size: 125vw auto;
	}

	.case-studies-79 {
		background-position: 52% center;
		background-size: 190vw auto;

	}

	.case-studies-9:hover {
		background-size: 195vw auto;
	}

	.case-studies-10 {
		background-size: 120vw auto;
		background-position: 85%;
	}

	.case-studies-10:hover {
		background-size: 125vw auto;
	}
}

@media only screen and (min-width: 60em) {

	.billboard-work {
		height: 500px;
		background-position: 60% center;
	}

	.billboard-work h1 {
		margin: 2.5em auto 0;
		font-size: 4em;
	}

	.case-studies-1 {
		background-size: 55vw auto;
		background-position: 85%;
		height: 300px
	}

	.case-studies-1:hover {
		background-size: 60vw auto;
	}

	.case-studies-6 {
		background-position: 52% center;
		background-size: 110vw auto;
		height: 300px;
	}

	.case-studies-6:hover {
		background-size: 115vw auto;
	}

	.case-studies-3 {
		background-position: 52% center;
		background-size: 110vw auto;
		height: 300px;
	}

	.case-studies-3:hover {
		background-size: 115vw auto;
	}

	.case-studies-4 {
		background-size: 55vw auto;
		background-position: 85%;
		height: 300px
	}

	.case-studies-4:hover {
		background-size: 60vw auto;
	}

	.case-studies-5 {
		background-size: 35vw auto;
		background-position: 33% center;
		height: 300px
	}

	.case-studies-5:hover {
		background-size: 40vw auto;
	}

	.case-studies-2 {
		background-position: 58% center;
		background-size: 110vw auto;
		height: 300px;
	}

	.case-studies-2:hover {
		background-size: 115vw auto;
	}

	.case-studies-7 {
		background-position: 52% center;
		background-size: 110vw auto;
		height: 300px;
	}

	.case-studies-7:hover {
		background-size: 115vw auto;
	}

	.case-studies-8 {
		background-size: 55vw auto;
		background-position: 85%;
		height: 300px
	}

	.case-studies-8:hover {
		background-size: 60vw auto;
	}

	.case-studies-9 {
		background-position: 52% center;
		background-size: 110vw auto;
		height: 300px;
	}

	.case-studies-9:hover {
		background-size: 115vw auto;
	}

	.case-studies-10 {
		background-size: 55vw auto;
		background-position: 85%;
		height: 300px
	}

	.case-studies-10:hover {
		background-size: 60vw auto;
	}
}

@media only screen and (min-width: 90em) {

	.billboard-work {
		height: 500px;
	}

	.billboard-work h1 {
		margin: 2em auto 0;
	}

	.case-studies-1 {
		background-size: 45vw auto;
		background-position: 85%;
		height: 350px
	}

	.case-studies-1:hover {
		background-size: 50vw auto;
	}

	.case-studies-6 {
		background-position: 52% center;
		background-size: 85vw auto;
		height: 350px;
	}

	.case-studies-6:hover {
		background-size: 90vw auto;
	}

	.case-studies-3 {
		background-position: 52% center;
		background-size: 85vw auto;
		height: 350px;
	}

	.case-studies-3:hover {
		background-size: 90vw auto;
	}

	.case-studies-4 {
		background-size: 45vw auto;
		background-position: 85%;
		height: 350px
	}

	.case-studies-4:hover {
		background-size: 50vw auto;
	}

	.case-studies-5 {
		background-size: 35vw auto;
		background-position: 90% center;
		height: 350px
	}

	.case-studies-5:hover {
		background-size: 40vw auto;
	}

	.case-studies-2 {
		background-position: 58% center;
		background-size: 115vw auto;
		height: 350px;
	}

	.case-studies-2:hover {
		background-size: 120vw auto;
	}

	.case-studies-7 {
		background-position: 52% center;
		background-size: 85vw auto;
		height: 350px;
	}

	.case-studies-7:hover {
		background-size: 90vw auto;
	}

	.case-studies-8 {
		background-size: 45vw auto;
		background-position: 85%;
		height: 350px
	}

	.case-studies-8:hover {
		background-size: 50vw auto;
	}

	.case-studies-9 {
		background-position: 52% center;
		background-size: 85vw auto;
		height: 350px;
	}

	.case-studies-9:hover {
		background-size: 90vw auto;
	}

	.case-studies-10 {
		background-size: 45vw auto;
		background-position: 85%;
		height: 350px
	}

	.case-studies-10:hover {
		background-size: 50vw auto;
	}
}

@media only screen and (min-width: 120em) {
	.billboard-work {
		height: 600px;
	}

}
