.img-flex {
    display: block;
    width: 100%;
    margin: 0 auto;
}

.box {
	height: 200px;
}

 body {
 	margin: auto;
 }

.home {
	background-color: #0d121a;
	background-image: url(../img/bg-image.jpg);
	background-position: center center;
  background-size: cover;
  background-repeat: none;
}

.billboard-work {
	background-image: url(../img/woman-work.jpg);
	background-position: 0 80%;
  background-size: cover;
  overflow: hidden;
	height: 265px;
	color: #D6D5D4;
	background-repeat: no-repeat;
}

.billboard-work h1 {
	text-align: center;
	margin: 3em auto 0;
}

.case-studies-1 {
  color: #D6D5D4;
  background-image: url(../img/gateway/gateway-bb.jpg);
  height: 270px;
  background-position: center center;
  background-size: 150vw auto;
  background-repeat: no-repeat;
  transition: all 1000ms linear;
}

.case-studies-1:hover {
	background-size: 155vw auto;
}

.case-studies-2 {
	color: #D6D5D4;
	background-image: url(../img/book/project-2.jpg);
	height: 270px;
	background-position: 52% center;
	background-repeat: no-repeat;
	background-size: 280vw auto;
	transition: all 1000ms linear;
}

.case-studies-2:hover {
	background-size: 285vw auto;
}

.case-studies-3 {
	color: #D6D5D4;
	background-image: url(../img/);
	height: 270px;
	background-position: 52% center;
	background-repeat: no-repeat;
	background-size: 280vw auto;
	transition: all 1000ms linear;
}

.case-studies-3:hover {
	background-size: 285vw auto;
}

.case-studies-4 {
  color: #D6D5D4;
  background-image: url(../img/refresh/refresh-935-558.jpg);
  height: 270px;
  background-position: center center;
  background-size: 150vw auto;
  background-repeat: no-repeat;
  transition: all 1000ms linear;
}

.case-studies-4:hover {
	background-size: 155vw auto;
}

.case-studies-5 {
  color: #D6D5D4;
  background-image: url(../img/report/makeup.jpg);
  height: 270px;
  background-position: center center;
  background-size: 150vw auto;
  background-repeat: no-repeat;
  transition: all 1000ms linear;
}

.case-studies-5:hover {
	background-size: 155vw auto;
}

.case-studies-6 {
	color: #D6D5D4;
	background-image: url(../img/);
	height: 270px;
	background-position: 52% center;
	background-repeat: no-repeat;
	background-size: 280vw auto;
	transition: all 1000ms linear;
}

.case-studies-6:hover {
	background-size: 285vw auto;
}

.case-studies-7 {
	color: #D6D5D4;
	background-image: url(../img/project-2.jpg);
	height: 270px;
	background-position: 52% center;
	background-repeat: no-repeat;
	background-size: 280vw auto;
	transition: all 1000ms linear;
}

.case-studies-7:hover {
	background-size: 285vw auto;
}

.case-studies-8 {
  color: #D6D5D4;
  background-image: url(../img/refresh-935-558.jpg);
  height: 270px;
  background-position: center center;
  background-size: 150vw auto;
  background-repeat: no-repeat;
  transition: all 1000ms linear;
}

.case-studies-8:hover {
	background-size: 155vw auto;
}

.masthead {
		overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
}

.links {
	display: block;
	cursor: pointer;
}

.footer {
	color: white;
	margin-top: 5em;
}

/* ----------------------------------------------------------
Media Queries
-------------------------------------------------------------*/
@media only screen and (min-width: 25em) {

	.billboard-work {
		height: 300px
	}

	.case-studies-1 {
		background-size: 115vw auto;
		background-position: 85% center;
		transition: all 1000ms linear;
	}

	.case-studies-1:hover {
		background-size: 120vw auto;
	}

	.case-studies-2 {
		background-position: 52% center;
		background-size: 205vw auto;
		background-position: 50% center;
		transition: all 1000ms linear;
	}

	.case-studies-2:hover {
		background-size: 210vw auto;
	}

	.case-studies-3 {
		background-position: 52% center;
		background-size: 205vw auto;
		background-position: 50% center;
		transition: all 1000ms linear;
	}

	.case-studies-3:hover {
		background-size: 210vw auto;
	}

		.case-studies-4 {
		background-size: 115vw auto;
		background-position: 85%;
		transition: all 1000ms linear;
	}

	.case-studies-4:hover {
		background-size: 120vw auto;
	}

	.case-studies-5 {
		background-size: 115vw auto;
		background-position: 85%;
		transition: all 1000ms linear;
	}

	.case-studies-5:hover {
		background-size: 120vw auto;
	}

	.case-studies-6 {
		background-position: 52% center;
		background-size: 205vw auto;
		background-position: 50% center;
		transition: all 1000ms linear;
	}

	.case-studies-6:hover {
		background-size: 210vw auto;
	}

	.case-studies-7 {
		background-position: 52% center;
		background-size: 205vw auto;
		background-position: 50% center;
		transition: all 1000ms linear;
	}

	.case-studies-7:hover {
		background-size: 210vw auto;
	}

		.case-studies-8 {
		background-size: 115vw auto;
		background-position: 85%;
		transition: all 1000ms linear;
	}

	.case-studies-8:hover {
		background-size: 120vw auto;
	}

	.billboard-work h1{
		margin: 2.5em auto 0;
	}
}

@media only screen and (min-width: 38em) {

	.billboard-work {
			height: 350px;
	}

	.case-studies-1 {
		background-size: 120vw auto;
		background-position: 85%;
		transition: all 1000ms linear;
	}

	.case-studies-1:hover {
		background-size: 125vw auto;
	}

	.case-studies-2 {
		background-position: 52% center;
		background-size: 190vw auto;
		transition: all 1000ms linear;
	}

	.case-studies-2:hover {
		background-size: 195vw auto;
	}

	.case-studies-3 {
		background-position: 52% center;
		background-size: 190vw auto;
		transition: all 1000ms linear;
	}

	.case-studies-3:hover {
		background-size: 195vw auto;
	}

	.case-studies-4 {
		background-size: 120vw auto;
		background-position: 85%;
		transition: all 1000ms linear;
	}

	.case-studies-4:hover {
		background-size: 125vw auto;
	}

	.case-studies-5 {
		background-size: 120vw auto;
		background-position: 85%;
		transition: all 1000ms linear;
	}

	.case-studies-5:hover {
		background-size: 125vw auto;
	}

	.case-studies-6 {
		background-position: 52% center;
		background-size: 190vw auto;
		transition: all 1000ms linear;
	}

	.case-studies-6:hover {
		background-size: 195vw auto;
	}

	.case-studies-7 {
		background-position: 52% center;
		background-size: 190vw auto;
		transition: all 1000ms linear;
	}

	.case-studies-7:hover {
		background-size: 195vw auto;
	}

	.case-studies-8 {
		background-size: 120vw auto;
		background-position: 85%;
		transition: all 1000ms linear;
	}

	.case-studies-8:hover {
		background-size: 125vw auto;
	}
}

@media only screen and (min-width: 60em) {

	.billboard-work {
		height: 500px;
		background-position: 60% center;
	}

	.case-studies-1 {
		background-size: 55vw auto;
		background-position: 85%;
		transition: all 1000ms linear;
		height: 300px
	}

	.case-studies-1:hover {
		background-size: 60vw auto;
	}

	.case-studies-2 {
		background-position: 52% center;
		background-size: 110vw auto;
		transition: all 1000ms linear;
		height: 300px;
	}

	.case-studies-2:hover {
		background-size: 115vw auto;
	}

	.case-studies-3 {
		background-position: 52% center;
		background-size: 110vw auto;
		transition: all 1000ms linear;
		height: 300px;
	}

	.case-studies-3:hover {
		background-size: 115vw auto;
	}

	.case-studies-4 {
		background-size: 55vw auto;
		background-position: 85%;
		transition: all 1000ms linear;
		height: 300px
	}

	.case-studies-4:hover {
		background-size: 60vw auto;
	}

	.case-studies-5 {
		background-size: 55vw auto;
		background-position: 85%;
		transition: all 1000ms linear;
		height: 300px
	}

	.case-studies-5:hover {
		background-size: 60vw auto;
	}

	.case-studies-6 {
		background-position: 52% center;
		background-size: 110vw auto;
		transition: all 1000ms linear;
		height: 300px;
	}

	.case-studies-6:hover {
		background-size: 115vw auto;
	}

	.case-studies-7 {
		background-position: 52% center;
		background-size: 110vw auto;
		transition: all 1000ms linear;
		height: 300px;
	}

	.case-studies-7:hover {
		background-size: 115vw auto;
	}

	.case-studies-8 {
		background-size: 55vw auto;
		background-position: 85%;
		transition: all 1000ms linear;
		height: 300px
	}

	.case-studies-8:hover {
		background-size: 60vw auto;
	}

	.billboard-work h1{
		margin: 4em auto 0;
	}
}

@media only screen and (min-width: 90em) {

	.billboard-work {
		height: 500px;

	}

	.case-studies-1 {
		background-size: 45vw auto;
		background-position: 85%;
		transition: all 1000ms linear;
		height: 350px
	}

	.case-studies-1:hover {
		background-size: 50vw auto;
	}

	.case-studies-2 {
		background-position: 52% center;
		background-size: 85vw auto;
		transition: all 1000ms linear;
		height: 350px;
	}

	.case-studies-2:hover {
		background-size: 90vw auto;
	}

	.case-studies-3 {
		background-position: 52% center;
		background-size: 85vw auto;
		transition: all 1000ms linear;
		height: 350px;
	}

	.case-studies-3:hover {
		background-size: 90vw auto;
	}

	.case-studies-4 {
		background-size: 45vw auto;
		background-position: 85%;
		transition: all 1000ms linear;
		height: 350px
	}

	.case-studies-4:hover {
		background-size: 50vw auto;
	}

	.case-studies-5 {
		background-size: 45vw auto;
		background-position: 85%;
		transition: all 1000ms linear;
		height: 350px
	}

	.case-studies-5:hover {
		background-size: 50vw auto;
	}

	.case-studies-6 {
		background-position: 52% center;
		background-size: 85vw auto;
		transition: all 1000ms linear;
		height: 350px;
	}

	.case-studies-6:hover {
		background-size: 90vw auto;
	}

	.case-studies-7 {
		background-position: 52% center;
		background-size: 85vw auto;
		transition: all 1000ms linear;
		height: 350px;
	}

	.case-studies-7:hover {
		background-size: 90vw auto;
	}

	.case-studies-8 {
		background-size: 45vw auto;
		background-position: 85%;
		transition: all 1000ms linear;
		height: 350px
	}

	.case-studies-8:hover {
		background-size: 50vw auto;
	}
}

@media only screen and (min-width: 120em) {

}
