.line {
	border-bottom: 1px solid #d7d7d7;
}

.general-info h2 {
	font-size: 2em;
	color: #eae8e8;
	text-transform: uppercase;
	letter-spacing: 7px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

.projectnav-colour {
	background-image: url(../img/bg-image.jpg);
	display: block;
	width: 100%;
	color: #fff;
	float: right;
	position: fixed;
	width: 150px;
	display: block;
}

.external-link{
	-webkit-transition: all 150ms linear;
	transition: all 150ms linear;
}

.external-link:hover{
 	color: #45ad91;
}

.general-info p {
	font-size: 18px;
	color: #000;
	position: relative;
	top: -90px;
	font-family: 'Gentium Book Basic', serif;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.line {
	height: 84px;
	padding-top: 10px;
}

.line a {
	text-decoration: none;
	color: inherit;
}

.back-portfolio {
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	color: #d7d7d7;
	letter-spacing: 3px;
	font-size: .75em;
}

.billboard-gateway {
	background-image: url(../img/gateway/gateway-gg.jpg);
  background-size: cover;
  overflow: hidden;
	height: 130px;
	background-repeat: no-repeat;
	background-position: center center;
}

.billboard-refresh {
	background-image: url(../img/refresh/refresh-bb.jpg);
  background-size: cover;
  overflow: hidden;
	height: 130px;
	background-repeat: no-repeat;
	background-position: center center;
}

.billboard-bookbuddy {
	background-image: url(../img/book/project-2.jpg);
  background-size: cover;
  overflow: hidden;
	height: 130px;
	background-repeat: no-repeat;
	background-position: center center;
}

.billboard-quotebook {
	background-image: url(../img/quote/quote-full.jpg);
  background-size: cover;
  overflow: hidden;
	height: 130px;
	background-repeat: no-repeat;
	background-position: center center;
}

.discription{
	font-family: 'Open Sans', sans-serif;
	color: #000011;
	font-weight: 300;
	padding-top: 15px;
}

.captions{
	font-family: 'Gentium Book Basic', serif;
	font-weight: 400;
}

.project-title{
		font-family: 'Open Sans', sans-serif;
		font-weight: 800;
		color: #000011;
		top: -100px
}

.solution {
		font-family: 'Open Sans', sans-serif;
		font-weight: 300;
		color: #591D57;
}

.project-intro {
	font-family: 'Gentium Book Basic', serif;
	xline-hedight: 2em;
}

.highlights {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	color: #000011;
	margin: 5px;
	border-bottom: solid #000011 3px;
}

.shadow {
	xbox-shadow: .5px .5px 3px 0 rgba(0,0,0,.25)
}

.m-next-project {
	xbackground-color: #202122;
	background-image: url(../img/bg-image.jpg);
	color: white;
	margin: 0;
}

.contact-bottom {
	margin-bottom: 30px;
}

.contact-link {
	color: #838b91;
	text-decoration: none;
	white-space: nowrap;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

.mono-title {
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

.email-link{
	color: #fff;
	text-decoration: none;
	white-space: nowrap;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

.next-project {
	background-color: #1d1e2a;
	-webit-transition: all 250ms linear;
	transition: all 250ms linear;
	text-decoration: none;
	color: #fff;
	white-space: nowrap;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	position:
}

.next-project:hover{
	/*background-color: #F8F5EE;*/
	background-color: #73c7b0;
	color: black;
}

.back {
	text-decoration: none;
	color: #fff;
}

.back-hover{
 	color: #73c7b0;
}

.footer-color {
	background-color: #1d1e2a
}

.social-link {
	color: #838b91;
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 10px;
}

.back-home {
	font-weight: 300;
	text-decoration: none;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	-webkit-transition: all 250ms linear;
		transition: all 250ms linear;
}

.back-home:hover {
	color: #73c7b0;
	text-decoration: line-through;
}

/* ------------------------------------------------------------
Media Queries
-------------------------------------------------------------*/

@media only screen and (min-width: 25em) {
	.billboard-gateway {
		height: 300px;
	}

	.billboard-refresh {
		height: 300px;
		background-position: center -110px;
	}

	.billboard-quotebook {
		height: 300px;
	}

	.billboard-bookbuddy {
		height: 300px;
	}
}

@media only screen and (min-width: 38em) {
	.billboard-gateway {
		height: 400px;
	}
}

@media only screen and (min-width: 60em) {
	.main-content {
		border-left: 1px solid #d7d7d7;
	}

	.general-info p {
		top: -95px;
	}

	.line li {
		height: 84px;
		margin-top: 1em;
	}

	.billboard-gateway {
		height: 400px;
	}

	.billboard-quotebook {
		height: 400px;
	}

	.billboard-refresh {
		height: 400px;
	}

	.billboard-bookbuddy {
		height: 400px;
	}

	.m-next-project {
		float: right;
		width: calc(100% - 150px);
	}

	.footer-color {
		float: right;
		width: calc(100% - 150px);
	}
}

@media only screen and (min-width: 90em) {
	.general-info p {
		top: -105px;
	}

	.billboard-gateway {
		height: 520px;
	}

	.billboard-quotebook {
		height: 520px;
	}
	.billboard-refresh {
		height: 520px;
		background-position: center -110px;
	}
}

@media only screen and (min-width: 120em) {
.general-info p {
		top: -310px;
	}

		.billboard-refresh {
		height: 320px;
	}

	.billboard-bookbuddy {
		height: 320px;
	}

}
