<!DOCTYPE html>
<html lang="en-ca">
<head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{page.title}} · {% endif %} Natalie May {% if page.titleAfter %}· {{page.titleAfter}}{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="graphic design, web design, ui/ux designer, ottawa designer">
    <meta name="language" content="EN">
    <meta name='subject' content='porfolio, design, graphic, image, folio, art, web'>
    <meta name='designer' content='Natalie May Macpherson'>
    <meta name="description" content="{{page.meta}}">
    <meta name="author" content="Natalie May Macpherson">
    <meta name="copyright" content="&#169; Natalie May Macpherson">
    <meta name="geo-placename" content="Ottawa, Ontario, Canada">
    <meta name="geo.position" content="45.3522070;-75.7105760">
    <meta name="geo.region" content="CA-Ontario">
    <meta name="ICBM" content="45.3522070, -75.7105760">
<!--Social Media-->
    <meta property="og:type" content="article">
    <meta property="og:title" content="Natalie May · Ottawa Based Graphic Designer">
    <meta property="og:url" content="www.nataliemay.ca">
    <meta property="og:image" content="{{site.baseurl}}/img/portrait.jpg">
    <meta property="og:site_name" content="Natalie May">
    <meta property="og:discription" content="Natalie May a passionate graphic designer and visual artist based in Ottawa, Canada.">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Natalie May · Ottawa Based Graphic Designer">
    <meta name="twitter:url" content="www.nataliemay.ca">
    <meta name="twitter:description" content="Natalie May a passionate graphic designer and visual artist based in Ottawa, Canada.">
    <meta name="twitter:image" content="{{site.baseurl}}/img/portrait.jpg">
<!--Favicon-->
    <link rel="shortcut icon" href="{{site.baseurl}}/img/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="{{site.baseurl}}/img/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="{{site.baseurl}}/img/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{site.baseurl}}/img/apple-touch-icon-152x152.png">
<!--css and type-->
    <link href="{{site.baseurl}}/css/master.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Gentium+Book+Basic' rel='stylesheet' type='text/css'>
</head>

<!--++++++++++++++++++++++++
skip links
+++++++++++++++++++++++++++++++-->




<body>
 <ul class="skip-links">
    <li><a href="#main"> Jump to Main Content</a></li>
    <li><a href="#navigation"> Jump to Navigation</a></li>
</ul>
	{{content}}
</body>
</html>
