<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title> {% if page.title %}{{page.title}} · {% endif %} Natalie May</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{site.baseurl}}/css/master.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800|Gentium+Book+Basic' rel='stylesheet' type='text/css'>
</head>

<!--++++++++++++++++++++++++
skip links
+++++++++++++++++++++++++++++++-->

  <!--<ul class="skip-link">
		<li><a href="#main"> Jump to Main Content</a></li>
		<li><a href="#navigation"> Jump to Navigation</a></li>
	</ul>-->


<body>
	{{content}}
</body>
</html>
