---
layout: default
---
<!--<header>
	<nav id="navigation" role="navigation" class="main-nav island-1-2 center nav-wrap">
		<a class="nav space" href=" {{site.baseurl}}/">Home</a>
		<a class="nav space {% if page.url contains '/work/' %}current{% endif %}" href="{{site.baseurl}}/work/">Portfolio</a>
		<a class="nav space {% if page.url == '/about/' %}current{% endif %}" href="{{site.baseurl}}/about/">About</a>
		<a class="nav space {% if page.url == '/connect/' %}current{% endif %}" href="{{site.baseurl}}/connect/">Connect</a>

	</nav>
</header>-->

<header class="header-nav" role="banner">
	<a class="logo" href="{{site.baseurl}}/">
		<img class="logo-size" src="{{site.baseurl}}/img/white-signature.svg" alt="personal logo">
	</a>

	<input type="checkbox" class="nav-check masthead" id="nav-check">
	<label class="nav-label" for="nav-check"><i>Toggle Navigation</i></label>

	<nav role="navigation" id="navigation" class="nav pad-nav center">
		<a class="background" href="{{site.baseurl}}/">Home</a>
		<a class="background {% if page.url contains '/work/' %}current{% endif %}" href="{{site.baseurl}}/work/">Portfolio</a>
		<a class="background {% if page.url == '/about/' %}current{% endif %}" href="{{site.baseurl}}/about/">About</a>
		<a class="background {% if page.url == '/connect/' %}current{% endif %}" href="{{site.baseurl}}/connect/">Connect</a>
	</nav>
</header>

{{content}}
