---
layout: default
---

<header>
	<nav class="main-nav island-1-2 center">
		<a class="nav space" href="{{site.baseurl}}/">Home</a>
		<a class="nav space" href="{{site.baseurl}}/work/">Portfolio</a>
		<a class="nav space" href="{{site.baseurl}}/about/">About</a>
		<a class="nav space" href="{{site.baseurl}}/connect/">Connect</a>

	</nav>
</header>

<div class="main">
	<div class="grid {{page.billboardClass}}">
		<div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1 ">
			<h1  class="name">{{page.h1}}</h1>
		</div>
	</div>
	{{content}}
</div>

