---
layout: main-content
---
<div class="main">
	<div class="grid {{page.billboardClass}}">
		<div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1">
		</div>
	</div>
	<div class="grid island-1-4">
		<div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1">

			<div class="grid">
			<div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1-4 general-info">
				<ul>
					<li class="line">
						<h2>Project</h2>
						<p class="pad-t">{{page.project-title}}</p>
					</li>
					<li class="line">
						<h2>Service</h2>
						<p class="pad-t">{{page.project-service}}</p>
					</li>
					{% if page.project-link %}
					<li class="line">
						<h2>Link</h2>
						<p class="pad-t">
							<a href="http://natalie-macpherson.github.io/dsn1675-refresh/" target="_blank">{{page.project-link}}</a>
						</p>
					</li>
					{% endif %}
					<!-- Don't know if this is needed -->
					<li class="line back-portfolio pad-t">
							<a href="{{baseurl}}/work	/">Back to Portfolio</a>
					</li>
				</ul>
				</div>
					<div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-2-3 main-content pad-t-1-2">

					<h3 class="mega discription push-0 gutter-1-2">Project Description</h3>
					<h2 class="project-title gutter-1-2">{{page.project-title}}</h2>
					<div class="grid">
						<div class="unit unit-xs-1 unit-m-1 unit-l-1-2 gutter-1-2">
							<p class="project-intro kilo"> {{page.para1}}</p>
						</div>
						<div class="unit unit-xs-1 unit-m-1 unit-l-1-2 gutter-1-2">
							<p class="project-intro kilo"> {{page.para2}}</p>
						</div>

<!-- Research Development-->

						<div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l">
							<h4 class="kilo highlights pad-b pad-t gutter-1-4">Research and Development</h4>
						</div>
						<div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1 gutter-1-4 center pad-b">
							{% for img in page.img-research %}
								<img class="img-flex shadow" src="{{site.baseurl}}/img/{{img}}" alt="Image of project research">
							{% endfor %}
						</div>

<!-- Design -->

						<div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l">
							<h4 class="kilo highlights pad-t pad-b gutter-1-4">Design</h4>
						</div>
						<div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1 gutter-1-4 center pad-b">
							{% for img in page.img-design %}
								<img class="img-flex shadow" src="{{site.baseurl}}/img/{{img}}" alt="Image of Project desgin">
							{% endfor %}
						</div>

<!-- Design Solution -->

						<div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l">
							<h4 class="kilo highlights pad-t pad-b gutter-1-4">Design Solution</h4>
						</div>
						<div class="unit unit-xs-1 unit-m-1 unit-l-1-2 gutter-1-2">
							<p class="project-intro"> {{page.para3}}</p>
						</div>
						<div class="unit unit-xs-1 unit-m-1 unit-l-1-2 gutter-1-2">
							<p class="project-intro kilo"> {{page.para4}}</p>
						</div>
						<div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1 gutter-1-8 center pad-b pad-t">
							{% for img in page.img-solution %}
								<img class="img-flex shadow" src="{{site.baseurl}}/img/{{img}}" alt="Image of final project">
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="grid m-next-project island">
	<div class="mega center pad-t-1-2 unit unit-xs-1 unit-s-1 unit-m-1-3 unit-l-1-3">
		<span class="island-1-4 mono-title">– Say hello –</span>
		<h4 class="mega island-1-4 contact-link">Do you like my work? <br>Don't be shy<a class="email-link" href="mailto:hello@nataliemay.ca"> Contact me</a></h4>
	</div>
		<a class="pad-t next-project project-color center unit unit-xs-1 unit-s-1 unit-m-2-3 unit-l-2-3 project-link"href="{{site.baseurl}}/{{page.nexturl}}">
			<span class="mono-title island-1-4">– Next Project –</span>
			<h2>{{page.next-project}}</h2>
		</a>
</div>

<footer class="footer-color grid pad-t-1-2 pad-b-1-2">
 	<div class="center island unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1">
 		<a class="back-home" href="{{site.baseurl}}/work">
 			<span class=" kilo">&#10229; Back to Home </span>
 		</a>
 	</div>
 		<ul class="social-link unit unit-xs1 unit-s-1 unit-m-1 unit-l-1">
 			<li class="kilo text-right unit unit-xs-hidden unit-s-hidden unit-m-1-3 unit-l-1-3"><a href="https://www.behance.net/Natalie_Macpherson" target="_blank">Bahance</a></li>
 			<li class="kilo center unit unit-xs-hidden unit-s-hidden unit-m-1-3 unit-l-1-3"><a href="https://instagram.com/nmacpher/" target="_blank">Instagram</a></li>
 			<li class="kilo text-left unit unit-xs-hidden unit-s-hidden unit-m-1-4 unit-l-1-4"><a href="https://www.linkedin.com/in/nmacpher/" target="_blank">Linkedin</a></li>
 		</ul>
</footer>
